doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block title
      title Tikui
    link(href='[[TIKUI_BASEPATH]]fonts/open-sans/400.css', rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]fonts/open-sans/600.css', rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]fonts/open-sans/700.css', rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]fonts/saira-extra-condensed/700.css', rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]icons/ionicons.css', rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]tikui.css', rel='stylesheet')
    link(href='[[TIKUI_BASEPATH]]doc.css', rel='stylesheet')
  body
    block body
      p Please include a body here.
