include tab.mixin.pug

+ippon-tab({ id: 'tab-1', controls: 'panel-id' }) Tab 1
+ippon-tab({ id: 'tab-2', controls: 'panel-id', selected: true }) Tab 2
+ippon-tab({ id: 'tab-3', controls: 'panel-id', href: '#tab3' }) Tab 3
