extends /layout

include color.mixin.pug

block body
  +ippon-color('neutral')
  +ippon-color('brand-klein')
  +ippon-color('information')
  +ippon-color('information-2')
  +ippon-color('positive')
  +ippon-color('negative')
  +ippon-color('warning')
  +ippon-color('orange')
