include input-text.mixin.pug

+ippon-input-text({ placeholder: 'Placeholder' })
+ippon-input-text({ value: 'Value' })
+ippon-input-text({ variant: 'error', placeholder: 'Placeholder' })
+ippon-input-text({ variant: 'error', placeholder: 'Placeholder', value: 'Value' })
+ippon-input-text({ variant: 'success', placeholder: 'Placeholder' })
+ippon-input-text({ variant: 'success', placeholder: 'Placeholder', value: 'Value' })
+ippon-input-text({ placeholder: 'Placeholder', disabled: true })
