.ippon-card.-information.-shadow-l1
  .ippon-v-space.-gap-8
    blockquote.ippon-v-space.-gap-8(cite='http://bradfrost.com/blog/post/atomic-web-design/#atoms')
      p.ippon-text.-body Atoms are the basic building blocks of matter. Applied to web interfaces, atoms are our HTML tags, such as a form label, an input or a button.
      p.ippon-text.-body Atoms can also include more abstract elements like color palettes, fonts and even more invisible aspects of an interface like animations.
    .ippon-text.-body.-small.-color-neutral-tertiary #[cite Atomic Design] by Brad Frost
