.ippon-card.-information.-shadow-l1
  .ippon-v-space.-gap-8
    blockquote.ippon-v-space.-gap-8(
      cite='http://bradfrost.com/blog/post/atomic-web-design/#molecules'
    )
      p.ippon-text.-body Molecules are groups of atoms bonded together and are the smallest fundamental units of a compound. These molecules take on their own properties and serve as the backbone of our design systems.
      p.ippon-text.-body For example, a form label, input or button aren’t too useful by themselves, but combine them together as a form and now they can actually do something together.
    .ippon-text.-body.-small.-color-neutral-tertiary #[cite Atomic Design] by Brad Frost
