.ippon-card.-information.-shadow-l1
  .ippon-v-space.-gap-8
    blockquote.ippon-v-space.-gap-8(
      cite='http://bradfrost.com/blog/post/atomic-web-design/#organisms'
    )
      p.ippon-text.-body Organisms are groups of molecules joined together to form a relatively complex, distinct section of an interface.
      p.ippon-text.-body Building up from molecules to organisms encourages creating standalone, portable, reusable components.
    .ippon-text.-body.-small.-color-neutral-tertiary #[cite Atomic Design] by Brad Frost
