.tikui-vertical-spacing.-s24
  .tikui-vertical-spacing--line
    h2#typography.tikui-title-section Typographies
  .tikui-vertical-spacing--line
    iframe(
      src='[[TIKUI_BASEPATH]]token/typography/typography.render.html',
      onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+70+"px";}(this));',
      style='height: 200px; width: 100%; border: none; overflow: hidden'
    )
