.ippon-v-space.-gap-24
  h2#typography.ippon-title Typographies
  iframe(
    src='[[TIKUI_BASEPATH]]token/typography/typography.render.html',
    onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+70+"px";}(this));',
    style='height: 200px; width: 100%; border: none; overflow: hidden'
  )
