extends /layout

include typography.mixin.pug

block body
  +ippon-typography('display-large')
  +ippon-typography('display-medium')
  +ippon-typography('display-small')
  +ippon-typography('title-1')
  +ippon-typography('title-2')
  +ippon-typography('title-3')
  +ippon-typography('title-4')
  +ippon-typography('title-5')
  +ippon-typography('body-large')
  +ippon-typography('body-medium')
  +ippon-typography('body-small')
  +ippon-typography('label-small')
  +ippon-typography('label-medium')
  +ippon-typography('label-large')
