.ippon-import-file {
  --_border-width: 2px;
  --_padding-inline: calc(var(--ippon-size-32) - var(--_border-width));

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--_border-width) dashed var(--ippon-color-neutral-border);
  border-radius: var(--ippon-radius-m);
  padding: var(--_padding-inline);
  cursor: pointer;

  &--input {
    display: none;
  }

  &:hover,
  &.-dragover {
    --_border-width: 1px;

    border: var(--_border-width) dashed var(--ippon-color-information-2-border);
    background-color: var(--ippon-color-information-2-surface-secondary);
  }
}
