extends /layout

block body
  div(
    style='display: grid; gap: 1rem; grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); justify-items: left; align-items: center'
  )
    include button-card.code.pug
