include title-display.mixin.pug

+ippon-title-display({ tag: 'h1' })
+ippon-title-display({ tag: 'h2' })
+ippon-title-display({ tag: 'h3' })

+ippon-title-display({ tag: 'h2', size: 'large' })
+ippon-title-display({ tag: 'h1', size: 'medium' })
+ippon-title-display({ tag: 'h5', size: 'small' })

+ippon-title-display({ tag: 'h3', color: 'brand-primary' })
+ippon-title-display({ tag: 'h3', color: 'neutral-tertiary' })
