:root {
  --ippon-color-brand-klein-100: #e6eeff;
  --ippon-color-brand-klein-200: #ccd9ff;
  --ippon-color-brand-klein-300: #99afff;
  --ippon-color-brand-klein-400: #6685ff;
  --ippon-color-brand-klein-500: #335cff;
  --ippon-color-brand-klein-600: #003cdc;
  --ippon-color-brand-klein-700: #002eb3;
  --ippon-color-brand-klein-800: #001e8a;
  --ippon-color-brand-klein-900: #001052;
  --ippon-color-blue-100: #f1f9ff;
  --ippon-color-blue-200: #eaf6ff;
  --ippon-color-blue-300: #d4edff;
  --ippon-color-blue-400: #74c4ff;
  --ippon-color-blue-500: #68b0e6;
  --ippon-color-blue-600: #5d9dcc;
  --ippon-color-blue-700: #467699;
  --ippon-color-blue-800: #345873;
  --ippon-color-blue-900: #294559;
  --ippon-color-blue-2-100: #e6f4ff;
  --ippon-color-blue-2-200: #c7e4ff;
  --ippon-color-blue-2-300: #94c9ff;
  --ippon-color-blue-2-400: #60acff;
  --ippon-color-blue-2-500: #2e90fa;
  --ippon-color-blue-2-600: #0072c6;
  --ippon-color-blue-2-700: #005c9e;
  --ippon-color-blue-2-800: #004578;
  --ippon-color-blue-2-900: #002e52;
  --ippon-color-green-100: #ebf8f0;
  --ippon-color-green-200: #e2f5e9;
  --ippon-color-green-300: #c2ead1;
  --ippon-color-green-400: #3bba6a;
  --ippon-color-green-500: #35a75f;
  --ippon-color-green-600: #2f9555;
  --ippon-color-green-700: #267d47;
  --ippon-color-green-800: #1e6338;
  --ippon-color-green-900: #164d2b;
  --ippon-color-yellow-100: #fff8ec;
  --ippon-color-yellow-200: #fff5e3;
  --ippon-color-yellow-300: #ffe9c5;
  --ippon-color-yellow-400: #ffb945;
  --ippon-color-yellow-500: #e6a73e;
  --ippon-color-yellow-600: #cc9437;
  --ippon-color-yellow-700: #bf8b34;
  --ippon-color-yellow-800: #996f29;
  --ippon-color-yellow-900: #73531f;
  --ippon-color-orange-100: #fff0eb;
  --ippon-color-orange-200: #ffe9e1;
  --ippon-color-orange-300: #ffd1c0;
  --ippon-color-orange-400: #ff6b34;
  --ippon-color-orange-500: #e6602f;
  --ippon-color-orange-600: #cc562a;
  --ippon-color-orange-700: #bf5027;
  --ippon-color-orange-800: #99401f;
  --ippon-color-orange-900: #733017;
  --ippon-color-red-100: #fce9e9;
  --ippon-color-red-200: #fbdede;
  --ippon-color-red-300: #ffc9c9;
  --ippon-color-red-400: #e12121;
  --ippon-color-red-500: #cb1e1e;
  --ippon-color-red-600: #b41a1a;
  --ippon-color-red-700: #a91919;
  --ippon-color-red-800: #871414;
  --ippon-color-red-900: #650f0f;
}
