:root {
  --ippon-color-brand-surface-primary: var(--ippon-color-default-700);
  --ippon-color-brand-surface-primary-hover: var(--ippon-color-default-800);
  --ippon-color-brand-surface-primary-active: var(--ippon-color-default-900);
  --ippon-color-brand-surface-secondary: var(--ippon-color-default-100);
  --ippon-color-brand-surface-secondary-hover: var(--ippon-color-default-200);
  --ippon-color-brand-surface-secondary-active: var(--ippon-color-default-300);
  --ippon-color-brand-text-icon-primary: var(--ippon-color-default-600);
  --ippon-color-brand-text-icon-secondary: var(--ippon-color-default-800);
  --ippon-color-brand-text-icon-on-primary: var(--ippon-color-neutral-0);
  --ippon-color-brand-text-icon-on-secondary: var(--ippon-color-default-700);
  --ippon-color-brand-border: var(--ippon-color-default-500);
}
