:root {
  --ippon-color-error-surface-primary: var(--ippon-color-negative-700);
  --ippon-color-error-surface-primary-hover: var(--ippon-color-negative-800);
  --ippon-color-error-surface-primary-active: var(--ippon-color-negative-900);
  --ippon-color-error-surface-secondary: var(--ippon-color-negative-100);
  --ippon-color-error-surface-secondary-hover: var(--ippon-color-negative-200);
  --ippon-color-error-surface-secondary-active: var(--ippon-color-negative-300);
  --ippon-color-error-text-icon-primary: var(--ippon-color-negative-600);
  --ippon-color-error-text-icon-secondary: var(--ippon-color-negative-800);
  --ippon-color-error-text-icon-on-primary: var(--ippon-color-neutral-0);
  --ippon-color-error-text-icon-on-secondary: var(--ippon-color-negative-700);
  --ippon-color-error-border: var(--ippon-color-negative-500);
}
