:root {
  --ippon-color-information-2-surface-primary: var(--ippon-color-information-2-600);
  --ippon-color-information-2-surface-primary-hover: var(--ippon-color-information-2-700);
  --ippon-color-information-2-surface-primary-active: var(--ippon-color-information-2-800);
  --ippon-color-information-2-surface-secondary: var(--ippon-color-information-2-100);
  --ippon-color-information-2-surface-secondary-hover: var(--ippon-color-information-2-200);
  --ippon-color-information-2-surface-secondary-active: var(--ippon-color-information-2-300);
  --ippon-color-information-2-text-icon-primary: var(--ippon-color-information-2-500);
  --ippon-color-information-2-text-icon-secondary: var(--ippon-color-information-2-600);
  --ippon-color-information-2-text-icon-on-primary: var(--ippon-color-neutral-0);
  --ippon-color-information-2-text-icon-on-secondary: var(--ippon-color-information-2-700);
  --ippon-color-information-2-border: var(--ippon-color-information-2-500);
}
