:root {
  --ippon-color-information-surface-primary: var(--ippon-color-information-700);
  --ippon-color-information-surface-primary-hover: var(--ippon-color-information-800);
  --ippon-color-information-surface-primary-active: var(--ippon-color-information-900);
  --ippon-color-information-surface-secondary: var(--ippon-color-information-100);
  --ippon-color-information-surface-secondary-hover: var(--ippon-color-information-200);
  --ippon-color-information-surface-secondary-active: var(--ippon-color-information-300);
  --ippon-color-information-text-icon-primary: var(--ippon-color-information-600);
  --ippon-color-information-text-icon-secondary: var(--ippon-color-information-800);
  --ippon-color-information-text-icon-on-primary: var(--ippon-color-neutral-0);
  --ippon-color-information-text-icon-on-secondary: var(--ippon-color-information-700);
  --ippon-color-information-border: var(--ippon-color-information-500);
}
