:root {
  --ippon-color-neutral-surface-primary: var(--ippon-color-neutral-0);
  --ippon-color-neutral-surface-primary-hover: var(--ippon-color-neutral-100);
  --ippon-color-neutral-surface-primary-active: var(--ippon-color-neutral-200);
  --ippon-color-neutral-surface-secondary: var(--ippon-color-neutral-100);
  --ippon-color-neutral-surface-secondary-hover: var(--ippon-color-neutral-200);
  --ippon-color-neutral-surface-secondary-active: var(--ippon-color-neutral-300);
  --ippon-color-neutral-surface-secondary2: var(--ippon-color-neutral-150);
  --ippon-color-neutral-surface-tertiary: var(--ippon-color-neutral-300);
  --ippon-color-neutral-surface-tertiary-hover: var(--ippon-color-neutral-400);
  --ippon-color-neutral-surface-tertiary-active: var(--ippon-color-neutral-500);
  --ippon-color-neutral-text-icon-primary: var(--ippon-color-neutral-900);
  --ippon-color-neutral-text-icon-secondary: var(--ippon-color-neutral-800);
  --ippon-color-neutral-text-icon-tertiary: var(--ippon-color-neutral-600);
  --ippon-color-neutral-text-icon-tertiary-inversed: var(--ippon-color-neutral-400);
  --ippon-color-neutral-text-icon-on-primary: var(--ippon-color-neutral-900);
  --ippon-color-neutral-text-icon-on-secondary: var(--ippon-color-neutral-700);
  --ippon-color-neutral-text-icon-on-tertiary: var(--ippon-color-neutral-900);
  --ippon-color-neutral-border: var(--ippon-color-neutral-300);
}
