:root {
  --ippon-color-neutral-0: #fff;
  --ippon-color-neutral-50: #fbfcfe;
  --ippon-color-neutral-100: #f9fafb;
  --ippon-color-neutral-150: #eff2f6;
  --ippon-color-neutral-200: #eaecf0;
  --ippon-color-neutral-300: #d0d5dd;
  --ippon-color-neutral-400: #98a2b3;
  --ippon-color-neutral-500: #667085;
  --ippon-color-neutral-600: #475467;
  --ippon-color-neutral-700: #344054;
  --ippon-color-neutral-800: #1d2939;
  --ippon-color-neutral-900: #191919;
  --ippon-color-neutral-999: #000;
  --ippon-color-default-100: var(--ippon-color-brand-klein-100);
  --ippon-color-default-200: var(--ippon-color-brand-klein-200);
  --ippon-color-default-300: var(--ippon-color-brand-klein-300);
  --ippon-color-default-400: var(--ippon-color-brand-klein-400);
  --ippon-color-default-500: var(--ippon-color-brand-klein-500);
  --ippon-color-default-600: var(--ippon-color-brand-klein-600);
  --ippon-color-default-700: var(--ippon-color-brand-klein-700);
  --ippon-color-default-800: var(--ippon-color-brand-klein-800);
  --ippon-color-default-900: var(--ippon-color-brand-klein-900);
  --ippon-color-positive-100: var(--ippon-color-green-100);
  --ippon-color-positive-200: var(--ippon-color-green-200);
  --ippon-color-positive-300: var(--ippon-color-green-300);
  --ippon-color-positive-400: var(--ippon-color-green-400);
  --ippon-color-positive-500: var(--ippon-color-green-500);
  --ippon-color-positive-600: var(--ippon-color-green-600);
  --ippon-color-positive-700: var(--ippon-color-green-700);
  --ippon-color-positive-800: var(--ippon-color-green-800);
  --ippon-color-positive-900: var(--ippon-color-green-900);
  --ippon-color-information-100: var(--ippon-color-blue-100);
  --ippon-color-information-200: var(--ippon-color-blue-200);
  --ippon-color-information-300: var(--ippon-color-blue-300);
  --ippon-color-information-400: var(--ippon-color-blue-400);
  --ippon-color-information-500: var(--ippon-color-blue-500);
  --ippon-color-information-600: var(--ippon-color-blue-600);
  --ippon-color-information-700: var(--ippon-color-blue-700);
  --ippon-color-information-800: var(--ippon-color-blue-800);
  --ippon-color-information-900: var(--ippon-color-blue-900);
  --ippon-color-information-2-100: var(--ippon-color-blue-2-100);
  --ippon-color-information-2-200: var(--ippon-color-blue-2-200);
  --ippon-color-information-2-300: var(--ippon-color-blue-2-300);
  --ippon-color-information-2-400: var(--ippon-color-blue-2-400);
  --ippon-color-information-2-500: var(--ippon-color-blue-2-500);
  --ippon-color-information-2-600: var(--ippon-color-blue-2-600);
  --ippon-color-information-2-700: var(--ippon-color-blue-2-700);
  --ippon-color-information-2-800: var(--ippon-color-blue-2-800);
  --ippon-color-information-2-900: var(--ippon-color-blue-2-900);
  --ippon-color-negative-100: var(--ippon-color-red-100);
  --ippon-color-negative-200: var(--ippon-color-red-200);
  --ippon-color-negative-300: var(--ippon-color-red-300);
  --ippon-color-negative-400: var(--ippon-color-red-400);
  --ippon-color-negative-500: var(--ippon-color-red-500);
  --ippon-color-negative-600: var(--ippon-color-red-600);
  --ippon-color-negative-700: var(--ippon-color-red-700);
  --ippon-color-negative-800: var(--ippon-color-red-800);
  --ippon-color-negative-900: var(--ippon-color-red-900);
  --ippon-color-warning-100: var(--ippon-color-yellow-100);
  --ippon-color-warning-200: var(--ippon-color-yellow-200);
  --ippon-color-warning-300: var(--ippon-color-yellow-300);
  --ippon-color-warning-400: var(--ippon-color-yellow-400);
  --ippon-color-warning-500: var(--ippon-color-yellow-500);
  --ippon-color-warning-600: var(--ippon-color-yellow-600);
  --ippon-color-warning-700: var(--ippon-color-yellow-700);
  --ippon-color-warning-800: var(--ippon-color-yellow-800);
  --ippon-color-warning-900: var(--ippon-color-yellow-900);
}
