:root {
  --ippon-color-warning-surface-primary: var(--ippon-color-warning-700);
  --ippon-color-warning-surface-primary-hover: var(--ippon-color-warning-800);
  --ippon-color-warning-surface-primary-active: var(--ippon-color-warning-900);
  --ippon-color-warning-surface-secondary: var(--ippon-color-warning-100);
  --ippon-color-warning-surface-secondary-hover: var(--ippon-color-warning-200);
  --ippon-color-warning-surface-secondary-active: var(--ippon-color-warning-300);
  --ippon-color-warning-text-icon-primary: var(--ippon-color-warning-600);
  --ippon-color-warning-text-icon-secondary: var(--ippon-color-warning-800);
  --ippon-color-warning-text-icon-on-primary: var(--ippon-color-neutral-0);
  --ippon-color-warning-text-icon-on-secondary: var(--ippon-color-warning-700);
  --ippon-color-warning-border: var(--ippon-color-warning-500);
}
