include text.mixin.pug

+ippon-text({ variant: 'body', size: 'small' }) Body Small
+ippon-text({ variant: 'body', size: 'small', weight: 'bold' }) Body Small bold
+ippon-text({ variant: 'body' }) Body Medium
+ippon-text({ variant: 'body', weight: 'bold' }) Body Medium bold
+ippon-text({ variant: 'body', size: 'large' }) Body Large
+ippon-text({ variant: 'body', size: 'large', weight: 'bold' }) Body Large bold
+ippon-text({ variant: 'label', size: 'small' }) Label Small
+ippon-text({ variant: 'label', size: 'small', weight: 'bold' }) Label Small bold
+ippon-text({ variant: 'label' }) Label Medium
+ippon-text({ variant: 'label', weight: 'bold' }) Label Medium bold
+ippon-text({ variant: 'label', size: 'large' }) Label Large
+ippon-text({ variant: 'label', size: 'large', weight: 'bold' }) Label Large bold
+ippon-text({ variant: 'body', color: 'neutral-tertiary-inversed' }) Color Neutral Tertiary Inversed
+ippon-text({ variant: 'body', size: 'small', placeholder: true })
+ippon-text({ variant: 'body', placeholder: true })
+ippon-text({ variant: 'body', size: 'large', placeholder: true })
+ippon-text({ variant: 'label', placeholder: true })
