:root {
  --ippon-radius-round: 50%;
  --ippon-radius-pill: var(--ippon-size-999);
  --ippon-radius-xxl: var(--ippon-size-16);
  --ippon-radius-xl: var(--ippon-size-12);
  --ippon-radius-l: var(--ippon-size-8);
  --ippon-radius-m: var(--ippon-size-4);
}
