.ippon-v-space.-gap-24
  h2#radius.ippon-title Radius
  iframe(
    src='[[TIKUI_BASEPATH]]token/radius/radius.render.html',
    onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+30+"px";}(this));',
    style='height: 200px; width: 100%; border: none; overflow: hidden'
  )
