mixin ippon-table--head
  thead.ippon-table--head
    block

mixin ippon-table--body
  tbody.ippon-table--body
    block

mixin ippon-table--row
  tr.ippon-table--row
    block

mixin ippon-table--header
  th.ippon-table--header
    block

mixin ippon-table--cell
  td.ippon-table--cell
    block

mixin ippon-table
  table.ippon-table
    block
