mixin ippon-table--head
  thead.ippon-table--head
    block

mixin ippon-table--body
  tbody.ippon-table--body
    block

mixin ippon-table--row
  tr.ippon-table--row
    block

mixin ippon-table--header(options)
  - const { minimal } = options || {};
  - const minimalClass = minimal ? '-minimal' : null;
  th.ippon-table--header(class=minimalClass)
    block

mixin ippon-table--cell(options)
  - const { minimal } = options || {};
  - const minimalClass = minimal ? '-minimal' : null;
  td.ippon-table--cell(class=minimalClass)
    block

mixin ippon-table
  table.ippon-table
    block
