include table.mixin.pug

+ippon-table
  +ippon-table--head
    +ippon-table--row
      +ippon-table--header Column A
      +ippon-table--header Column B
      +ippon-table--header Column C
      +ippon-table--header Column D
  +ippon-table--body
    +ippon-table--row
      +ippon-table--cell Cell A1
      +ippon-table--cell Cell B1
      +ippon-table--cell Cell C1
      +ippon-table--cell Cell D1
    +ippon-table--row
      +ippon-table--cell Cell A2
      +ippon-table--cell Cell B2
      +ippon-table--cell Cell C2
      +ippon-table--cell Cell D2
    +ippon-table--row
      +ippon-table--cell Cell A3
      +ippon-table--cell Cell B3
      +ippon-table--cell Cell C3
      +ippon-table--cell Cell D3
