extends layout

block title
  title Ippon UI

block body
  .ippon-layout--header
    block header
  .ippon-layout--body
    .ipp-doc-page(data-navigable)
      .ipp-doc-page--container
        .ipp-doc-page--content
          block content
