.ippon-grid.-media-4.-media-desktop-s-12.-gap-16
  .ippon-grid--slot.-col-4.-col-desktop-s-6
    .ippon-v-space.-gap-8.-left
      pre.ipp-doc-snippet
        code.code.language-html !{ htmlCode }
      button.ippon-button.-secondary.-small(onclick='copyCode(this)', data-code=htmlRaw) Copy
  .ippon-grid--slot.-col-4.-col-desktop-s-6
    .ippon-v-space.-gap-8.-left
      pre.ipp-doc-snippet
        code.code.language-pug !{ pugCode }
      button.ippon-button.-secondary.-small(onclick='copyCode(this)', data-code=pugRaw) Copy
