.tikui-vertical-spacing.-s24
  .tikui-vertical-spacing--line
    h2#shadow.tikui-title-section Shadow
  .tikui-vertical-spacing--line
    iframe(
      src='[[TIKUI_BASEPATH]]token/shadow/shadow.render.html',
      onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+80+"px";}(this));',
      style='height: 200px; width: 100%; border: none; overflow: hidden'
    )
