.ippon-v-space.-gap-24
  h2#shadow.ippon-title Shadow
  iframe(
    src='[[TIKUI_BASEPATH]]token/shadow/shadow.render.html',
    onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+80+"px";}(this));',
    style='height: 200px; width: 100%; border: none; overflow: hidden'
  )
