extends /layout-documentation

block append vars
  - active = 'template';

block title
  title Ippon UI - Templates

block content
  .ippon-v-space.-gap-32
    h1#templates.ippon-title Templates
    include /documentation/atomic-design/quote/template
    include:templateDoc layout/layout.md
