include title.mixin.pug

+ippon-title({ tag: 'h1' })
+ippon-title({ tag: 'h2' })
+ippon-title({ tag: 'h3' })
+ippon-title({ tag: 'h4' })
+ippon-title({ tag: 'h5' })

+ippon-title({ tag: 'h2', level: 1 })
+ippon-title({ tag: 'h1', level: 2 })
+ippon-title({ tag: 'h5', level: 3 })
+ippon-title({ tag: 'h2', level: 4 })
+ippon-title({ tag: 'h3', level: 5 })

+ippon-title({ tag: 'h1', placeholder: true })
+ippon-title({ tag: 'h2', placeholder: true })
+ippon-title({ tag: 'h3', placeholder: true })
+ippon-title({ tag: 'h4', placeholder: true })
+ippon-title({ tag: 'h5', placeholder: true })

+ippon-title({ tag: 'h2', level: 1, placeholder: true })
+ippon-title({ tag: 'h1', level: 2, placeholder: true })
+ippon-title({ tag: 'h5', level: 3, placeholder: true })
+ippon-title({ tag: 'h2', level: 4, placeholder: true })
+ippon-title({ tag: 'h3', level: 5, placeholder: true })
