extends /layout-documentation

block append vars
  - active = 'atom';

block title
  title Ippon UI - Atoms

block content
  .ippon-v-space.-gap-32
    h1#atoms.ippon-title Atoms
    include /documentation/atomic-design/quote/atom
    include:componentDoc(height=700) badge/badge.md
    include:componentDoc(height=890) button/button.md
    include:componentDoc(height=40) helper-text/helper-text.md
    include:componentDoc(height=50) icon/icon.md
    include:componentDoc(height=450) input-text/input-text.md
    include:componentDoc(height=60) ion/ion.md
    include:componentDoc(height=40) label/label.md
    include:componentDoc(height=150) meter/meter.md
    include:componentDoc(height=150) progress/progress.md
    include:componentDoc(height=20) separator/separator.md
    include:componentDoc(height=60) tab/tab.md
    include:componentDoc(height=220) text/text.md
    include:componentDoc(height=1050) title/title.md
    include:componentDoc(height=440) title-display/title-display.md
