include ion.mixin.pug

+ippon-ion({ name: 'home', variant: 'filled' })
+ippon-ion({ name: 'home', variant: 'outline' })
+ippon-ion({ name: 'home', variant: 'sharp' })
+ippon-ion({ name: 'logo-angular' })
+ippon-ion({ name: 'logo-react' })
+ippon-ion({ name: 'logo-vue' })
